.app-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: -150px;
    margin-right: -150px;
}

.todo-lists-wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.add-new-list-button {
    margin: 10px;
    background-color: transparent;
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #d0d7de;
    color: #333;
}