.todo-container {
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}

.todo-list {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.list-title {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 5px;
}

.list-description {
    margin-top: 5px;
    padding-left: 5px;
}

.todo-items {
    list-style-type: none;
    padding-left: 10px;
}

.todo-item-in-list {
    padding: 5px;
}

.item-title {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 40ch;
}

.item-description {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 55ch;
    font-size: 1em;
}

.loading {
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}